In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/titanic.csv')

In [10]:
names = df['Name'][0:10]

In [11]:
names

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [12]:
type(names)

pandas.core.series.Series

In [13]:
l = ['a','b','c','d','e','f','g','h','i','j']

# Changing Index

In [23]:
s = pd.Series(list(names),index=l)

In [25]:
s[0]

'Braund, Mr. Owen Harris'

In [26]:
s['a']

'Braund, Mr. Owen Harris'

In [28]:
s2 = s.append(names)

In [30]:
s2[0]

'Braund, Mr. Owen Harris'

# Which index does python take? Default or named indexes

In [43]:
s1=pd.Series([2,23,4,43,2],index=[2,4,6,8,10])

In [50]:
s2=pd.Series([1,2,24,56,7],index=[1,4,5,7,9])

In [51]:
s3 = s1.append(s2)

In [52]:
# it takes named indexes
s3[4]

4    23
4     2
dtype: int64

In [53]:
# It takes Defautt indexing while using slicing
s3[0:6]

2      2
4     23
6      4
8     43
10     2
1      1
dtype: int64

In [55]:
# Multiplication Operation
s1*s2

1      NaN
2      NaN
4     46.0
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
dtype: float64

In [57]:
s1 + s2

1      NaN
2      NaN
4     25.0
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
dtype: float64